<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FFB65D" />
    <meta
      name="description"
      content="Proyek Food Heaven: Situs web untuk menemukan restoran terbaik. Author: A.N. M. Rifqi Daffa Ulhaq"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Food Heaven</title>
  </head>

  <body>
    <!-- Navbar Start -->
    <header>
      <a href="#list" class="skip-link">Skip to Content</a>

      <nav class="navbar">
        <div class="navbar__brand">
          <p tabindex="0" aria-label="Home">Food Heaven</p>
        </div>

        <div class="navbar__burger">
          <a
            href="#"
            id="hamburgerButton"
            tabindex="0"
            aria-label="Menu"
            role="button"
            ><i id="icon" data-feather="menu"></i
          ></a>
        </div>

        <div class="navbar__end" id="navigationDrawer">
          <a href="/" tabindex="0" aria-label="Home">Home </a>
          <a
            href="https://github.com/daulJsx"
            target="_blank"
            rel="noreferrer"
            tabindex="0"
            aria-label="About Us"
            >About Us</a
          >
          <a href="#list" tabindex="0" aria-label="Restaurants">Restaurants</a>
          <a href="#/liked-heaven" tabindex="0" aria-label="Favorite"
            >Favorite</a
          >
        </div>
      </nav>
    </header>
    <!-- Navbar End -->

    <main id="mainContent"></main>

    <!-- Footer Section Start -->
    <footer>
      <div class="socials">
        <a href="#" tabindex="0" aria-label="Instagram"
          ><i data-feather="instagram"></i
        ></a>
        <a href="#" tabindex="0" aria-label="Twitter"
          ><i data-feather="twitter"></i
        ></a>
        <a href="#" tabindex="0" aria-label="Facebook"
          ><i data-feather="facebook"></i
        ></a>
      </div>

      <div class="links">
        <a href="#home" tabindex="0" aria-label="Home">Home</a>
        <a href="#about" tabindex="0" aria-label="About Us">About Us</a>
        <a href="#list" tabindex="0" aria-label="Restaurants">Restaurants</a>
        <a href="#" tabindex="0" aria-label="Favorite">Favorite</a>
      </div>

      <div class="credit">
        <p>Created by daffaUlhaq. | &copy; 2023.</p>
      </div>
    </footer>
    <!-- Footer Section End -->

    <script src="js/script.js"></script>
  </body>
</html>
