<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FFB65D" />
    <meta
      name="description"
      content="Proyek Food Heaven: Situs web untuk menemukan restoran terbaik. Author: A.N. M. Rifqi Daffa Ulhaq"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Food Heaven</title>
  </head>

  <body>
    <!-- Navbar Start -->
    <header>
      <a
        href="#mainContent"
        tabindex="0"
        aria-label="Jump to Content Button"
        class="skip-link"
        >Skip to Content</a
      >

      <nav class="navbar">
        <div class="navbar__brand">
          <p tabindex="0" aria-label="Home">Food Heaven</p>
        </div>

        <div class="navbar__burger">
          <a
            href="#"
            id="hamburgerButton"
            tabindex="0"
            aria-label="Menu"
            role="button"
            ><i id="icon" data-feather="menu"></i
          ></a>
        </div>

        <div class="navbar__end" id="navigationDrawer">
          <a href="#" tabindex="0" aria-label="Home">Home </a>
          <a
            href="https://github.com/daulJsx"
            target="_blank"
            rel="noreferrer"
            tabindex="0"
            aria-label="About Us"
          >
            About Us
          </a>
          <a
            href="#mainContent"
            class="restaurants-link"
            tabindex="0"
            aria-label="Restaurants"
          >
            Restaurants
          </a>
          <a href="#/liked-heaven" tabindex="0" aria-label="Favorite">
            Favorite
          </a>
        </div>
      </nav>
    </header>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <section class="hero" id="home">
      <div class="left">
        <h1 tabindex="0"><span>Discover </span>stuff of your life!</h1>
        <p tabindex="0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia,
          voluptatem.
        </p>
        <a
          href="#mainContent"
          tabindex="0"
          class="cta"
          aria-label="Get Started"
        >
          Get Started
        </a>
      </div>

      <div class="right"></div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Start -->
    <section id="about" class="about">
      <h2 tabindex="0">About Us</h2>

      <div class="row">
        <div class="about__img">
          <img
            tabindex="0"
            loading="lazy"
            src="images/heros/hero-image_4.jpg"
            alt="About us"
          />
        </div>

        <div class="about__content">
          <h3 tabindex="0">Why must <span>Food Heaven </span> ?</h3>
          <p tabindex="0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            inventore ab voluptatum laborum fuga. Possimus rerum, earum
            cupiditate aspernatur cum, dignissimos commodi exercitationem
            adipisci ullam tempore laboriosam praesentium deleniti non.
          </p>
          <p tabindex="0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            delectus voluptatum dolorem commodi numquam. Facere, dolore. Quasi
            quaerat eos veniam minima molestias, perferendis officia iste odio
            exercitationem aspernatur incidunt placeat.
          </p>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <main id="mainContent"></main>

    <!-- Footer Section Start -->
    <footer>
      <div class="socials">
        <a href="#" tabindex="0" aria-label="Instagram">
          <i data-feather="instagram"></i>
        </a>
        <a href="#" tabindex="0" aria-label="Twitter">
          <i data-feather="twitter"></i>
        </a>
        <a href="#" tabindex="0" aria-label="Facebook">
          <i data-feather="facebook"></i>
        </a>
      </div>

      <div class="links">
        <a href="#" tabindex="0" aria-label="Home">Home</a>
        <a href="#about" tabindex="0" aria-label="About Us">About Us</a>
        <a href="#list" tabindex="0" aria-label="Restaurants">Restaurants</a>
        <a href="#/liked-heaven" tabindex="0" aria-label="Favorite">Favorite</a>
      </div>

      <div class="credit">
        <p>Created by daffaUlhaq. | &copy; 2023.</p>
      </div>
    </footer>
    <!-- Footer Section End -->
  </body>
</html>
